html,body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;
}
body{
background-image: url(/youtube.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
background-position: center;
}
nav{background-color:rgb(31, 189, 176);
display: flex;
justify-content: space-around;
align-items: center;
font-size: 20px;
font-weight: 200;
color: aliceblue;

}
nav a{
    text-decoration: none;
    color: aliceblue;
    
}
nav li{
    display: inline-block;
    margin: 0px 10px;
}
nav a:hover{
    color:rgb(32, 122, 88);
}
.menu-line{
    height: 2px;
    width: 20px;
    background-color: aliceblue;
    margin: 4px 0;

}
.menu{
    display:none;
}
@media  all and (max-width:630px) {
    nav{
        flex-direction: column;
    }
   .logo{
        align-self:flex-start;
        margin:10px 0px 0px 30px;
    }

    .menu{
        display:block;
        position:absolute;
        right:20px;
        top:12px;
    }
    nav li{
        display: block;
    }
    nav ul {
        display: none;
        text-align: center;
    }
    .menudisp{
        display: block;
    }
   
}