body,html{
background-color: aqua;
margin: 0%;
padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
min-height:40vh;
width: 40%;
border: 5px solid rgb(129,187,3174);
background:url(/images/nature1.jpeg) center/cover  no-repeat;
margin:auto;
border-radius: 1rem;
position: relative;
transition: background 1s ease-in-out;
}

.btn-left{

    position: absolute;
    top:50%;
    left:-2%;
    background-color: white;
    padding: .2em .2em;
    border-radius: 2em;
    transform: translateY(calc(-50%));
    cursor: pointer;
}
.btn-right{

    position: absolute;
    top:50%;
    right:-2%;
    background-color: white;
    padding: .2em .2em;
    border-radius: 2em;
    transform: translateY(calc(-50%));
    cursor: pointer;
}