
html,body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(116, 165, 66);
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
#container{text-align: center;
    width:40%;
    height:60%;
    max-width: 40em;
    min-width:15em;
    background-color: #e0f7fa;
    padding: 2em 4em;
    max-height: 40em;
    min-height:15em;

}
input{
    width: 13em;
    height: 3em;
    margin: 0.5em 0.5em;
    font-size: medium;
}
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;} /* optional spacing between input and button */
button{
width : 6em;
height:4em;
background-color: #00796b;
border-radius: 0.8em;
border-color:#444;
border-width: 0.3em;
cursor: pointer;
}
button:active{
    background-color: #004d40;
}
#list{

  max-height: 40%;
  overflow-y: auto;   
  padding: 1em;
  border: 2px solid #444;
  background-color:darkseagreen;
  border-radius: 8px;
}
h3{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:darkred;
}

